
body{
    padding: 100px;
    border: 5px dashed gray;
    background: black;
    text-align: center;
}


.imagen{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}